* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 90px;
  padding: 40px 20px;
  min-height: calc(100vh - 90px);
}

.content {
  width: 100%;
}

.content h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.content p {
  font-size: 16px;
  color: #ccc;
}
