* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 90px);
  position: fixed;
  right: 0;
  top: 90px;
  width: 250px;
  /* border-left: 1px solid #ccc; */
}

.content {
  padding: 25px 20px;
  width: 80%;
  background: #ffffff3a;
  margin-top: 120px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content p {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

.content ul {
  list-style-type: none;
}

.content ul li {
  margin-bottom: 10px;
}

.content ul li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}
